body{
	background-color:#f0f0f0;
	padding:0px;
	margin:0px;
	border:0px;
}
.team{
	text-decoration:none;
}
.offwhite{
	background-color:#f0f0f0;	
	font-size:15px;
	font-weight:bold;
	color: #000000;	
}
#bracketname{
	position:absolute;
	top:10px;
	left:415px;
	width:175px;
	font-size:13px;
	font-weight:bold;
	color: #000000;		
	padding:4px;	
}
#trashtalklink{
	position:absolute;
	top:10px;
	left:300px;
	width:250px;
	font-size:13px;
	font-weight:bold;
	color: #000000;		
	padding:4px;	
}
.backtolist{
	position:absolute;
	top:5px;
	left:600px;
	width:100px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	font-size:14px;
	font-weight:bold;
	color: #0000ff;		
	background-color:#CCCCCC;
	padding:4px;	
}
a.commentLink{	
	font-size:13px;
	font-weight:bold;
	color: #000033;	
}
a.commentLink hover{	
	font-size:13px;
	font-weight:bold;
	color: #0000ff;	
}
a.tabLink{
	font-size:12px;
	color: #000033;	
	text-decoration:none;
}
a.backscoreslink{
	font-size:13px;
	font-weight:bold;
	color: #000033;	
	text-decoration:underline;
}
a.backscoreslink:visited{
	font-size:13px;
	font-weight:bold;
	color: #000033;	
	text-decoration:underline;
}
a.columnlink{
	font-size:13px;
	font-weight:bold;
	color: #FFFFFF;	
	text-decoration:underline;
}
a.columnlink:visited{
	font-size:13px;
	font-weight:bold;
	color: #FFFFFF;	
	text-decoration:underline;
}
.white{
	background-color:#ffffff;	
	font-size:15px;
	font-weight:bold;
	color: #000000;	
}
.commentInfoLabel{
	position:absolute;
	top:80px;
	left:100px;
	width:600px;
	font-size:12px;
	color: #ff0000;
}

.scoreHeader{
	position:absolute;
	top:96px;
	left:50px;
	width:600px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	font-size:18px;
	font-weight:bold;
	color: #ffffff;		
	background-color:#666633;
	padding:10px;	
}
.winLabel{
	position:absolute;
	top:110px;
	left:465px;
	font-size:13px;
	font-weight:bold;
	color: #ffffff;		
}
.scoreLabel{
     position:absolute;
     top:110px;
     left:260px;
     font-size:13px;
     font-weight:bold;
     color: #ffffff;
}
.beatenLabel
{
	position:absolute;
	top:110px;
	left:585px;
	font-size:13px;
	font-weight:bold;
	color: #ffffff;
}
									   
.maxScoreLabel{
	position:absolute;
	top:110px;
	left:315px;
	font-size:13px;
	font-weight:bold;
	color: #ffffff;		
}									   
.ffAliveLabel{
	position:absolute;
	top:110px;
	left:350px;
	font-size:13px;
	font-weight:bold;
	color: #ffffff;		
}
.listbox{	
	position:absolute;
	top:130px;
	left:50px;
	width:600px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;	
	font-size:15px;
	font-weight:bold;
	color: #ffffff;	
	padding:10px;	
}
.scenario{
	font-size:13px;
	font-weight:normal;
	padding:3px;
}
.scenario_off{
	font-size:13px;
	font-weight:normal;	
	background-color:#f0f0f0;
	padding:3px;	
}
.scenario_header{
	font-size:13px;
	font-weight:bold;
	color:#ffffff;	
	background-color:#666633;
	padding:3px;	
}
.scenario1{
	position:absolute;
	top:80px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;

}
.scenario2{
	position:absolute;
	top:170px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;	
}
.scenario3{
	position:absolute;
	top:260px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;	
}
.scenario4{
	position:absolute;
	top:350px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;	
}
.scenario5{
	position:absolute;
	top:440px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;
}
.scenario6{
	position:absolute;
	top:530px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;
}
.scenario7{
	position:absolute;
	top:620px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;
}
.scenario8{
	position:absolute;
	top:710px;
	left:480px;
	width:300px;	
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	background-color:#ffffff;
}
.tourneyInfo{
	font-size:15px;
	color: #000000;
	position:absolute;
	top:160px;
	left:40px;
	width:600px;
	background-color:#ffffff;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	padding:10px;
}
.fieldBG{
	background-color:#f0f0f0;
}
.successSaved{
	font-size:13px;
	font-weight:bold;
	color: #000000;
	position:absolute;
	top:160px;
	left:240px;
	width:200px;
	background-color:#ffffff;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;	
	padding:10px;
}
.submitName{
	font-size:13px;
	font-weight:bold;
	color: #000000;
	position:relative;
	top:5px;
}
.passwordLabel{
	font-size:13px;
	font-weight:bold;
	color: #000000;
	position:relative;
	top:5px;
}
.confirmPasswordLabel{
	font-size:13px;
	font-weight:bold;
	color: #000000;
	position:relative;
	top:5px;
}
.nameField{
	position:relative;
	top:-25px;
	left:120px;
	font-size:13px;
	font-weight:bold;
	color: #000000;
}
.passwordField{
	top:-15px;
	position:relative;
	left:120px;
	font-size:13px;
	font-weight:bold;
	color: #000000;
}
.confirmPasswordField{
	top:-15px;
	position:relative;
	left:120px;
	font-size:13px;
	font-weight:bold;
	color: #000000;
}
.ffButtons{
	top:-15px;
	position:relative;
	left:150px;
}
.validated{
	top:15px;
	position:relative;
  	background-color:#ffffff;
  	border-top:1px solid #0000FF;
  	border-bottom:1px solid #0000FF;
  	border-right:1px solid #0000FF;
  	border-left:1px solid #0000FF;	
	padding:8px;
}
a.tabLink{
	text-decoration:underline;
	font-size:11px;
	color: #000000;
}
a.tabLink:visited{
	text-decoration:underline;
	font-size:11px;
	color: #000000;
}
.errors{
	left:550px;
	top:100px;
	position:absolute;
	width:200px;
	height:50px;
  	font-size:14px;
  	font-weight:bold;
  	font-family:arial;
	color:#ff0000;
}
.fferrors{
	left:180px;
	top:70px;
	position:absolute;
	width:200px;
	height:50px;
  	font-size:14px;
  	font-weight:bold;
  	font-family:arial;
	color:#ff0000;
}
.loadError{
	left:50px;
	top:80px;
	position:absolute;
	width:200px;
	height:50px;
  	font-size:13px;
  	font-weight:bold;
  	font-family:arial;
	color:#ff0000;
}
.titleGraphic{
	left:0px;
	top:0px;
	position:absolute;
}
.titleHeader{
	left:160px;
	top:20px;
	position:absolute;
  	font-size:16px;
  	font-weight:bold;
  	font-family:arial;
	color:#000000;
}
.button{
  	font-size:16px;
  	font-weight:bold;
  	font-family:arial;
	background-color:#cccccc;
	top:15px;
	position:relative;
}
.titleBar{
	left:0px;
	top:60px;
	background-color:#000000;
	width:400px;
  	font-size:0px;
  	height:3px;
	position:absolute;
}
.scenarios
{
	position:relative;
	height:125px; 
	background-color: #FFFFFF;
	width:250px;
	left:420px;
	border:1px solid black;
	font-size:10px;
	padding:0px;
}
.newBracket{
	left:50px;
	top:100px;
	position:absolute;
  	font-size:16px;
  	font-weight:bold;
  	font-family:arial;
	color:#000000;	
}
.loadBracket{
	left:250px;
	top:100px;
	position:absolute;
  	font-size:16px;
  	font-weight:bold;
  	font-family:arial;
	color:#000000;	
}
.widget{
	left:250px;
	top:115px;
	position:absolute;
  	font-size:14px;
  	font-weight:bold;
  	font-family:arial;
	color:#000000;	
}
.viewBracket{
	left:50px;
	top:100px;
	position:absolute;
  	font-size:16px;
  	font-weight:bold;
  	font-family:arial;
	color:#000000;	
}
.formLabel{
  	font-size:13px;
  	font-weight:bold;
  	font-family:arial;
	color:#000000;	
}
.bracketForm{
	left:50px;
	top:100px;
	position:absolute;
  	font-size:14px;
  	font-family:arial;
	color:#000000;
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	border-right:2px solid #000000;
	border-left:2px solid #000000;	
	padding:16px;
}
.bracketBox{
	left:8px;
	top:34px;
	position:absolute;
	width:708px;
	height:520px;
	background-color:#ccccf0;
	border-bottom:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
}
.randomizer
{
	left:400px;
	top:40px;
	position:absolute;
}
.saveForm{
  	position:absolute;
  	width: 320px;
  	height:80px;
  	background-color:#ffffff;
  	top:60px;
  	left:360px;
  	border-top:1px solid #0000FF;
  	border-bottom:1px solid #0000FF;
  	border-right:1px solid #0000FF;
  	border-left:1px solid #0000FF;	
	padding:8px;
}

.submitForm{
  	position:absolute;
  	width: 320px;
  	height:60px;
  	top:360px;
  	left:360px;
}

.hiddenForm{
  	position:absolute;
  	top:0px;
  	left:0px;
}
.button{
  	font-size:14px;
  	font-weight:bold;
  	font-family:arial;
  	background-color:#CCCC99;
 }
.eastTabSel{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:8px;
	top:14px; 
	width:40px;
	height:20px;
	background-color:#ccccf0;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
.eastTab{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:8px;
	top:14px; 
	width:40px;
	height:18px;
	background-color:#cccccc;
	border-bottom:1px solid #0066cc;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .southTabSel{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:51px;
	top:14px; 
	width:45px;
	height:20px;
	background-color:#ccccf0;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .southTab{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:51px;
	top:14px; 
	width:45px;
	height:18px;
	background-color:#cccccc;
	border-bottom:1px solid #0066cc;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .midwestTabSel{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:99px;
	top:14px; 
	width:80px;
	height:20px;
	background-color:#ccccf0;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .midwestTab{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:99px;
	top:14px; 
	width:80px;
	height:18px;
	background-color:#cccccc;
	border-bottom:1px solid #0066cc;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .westTabSel{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:182px;
	top:14px; 
	width:80px;
	height:20px;
	background-color:#ccccf0;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .westTab{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:182px;
	top:14px; 
	width:80px;
	height:18px;
	background-color:#cccccc;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
	border-bottom:1px solid #0066cc;
 }
 .finalfourTabSel{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:265px;
	top:14px; 
	width:80px;
	height:20px;
	background-color:#ccccf0;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
 .finalfourTab{
	font-size:11px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	left:265px;
	top:14px; 
	width:80px;
	height:18px;
	background-color:#cccccc;
	border-bottom:1px solid #0066cc;
	border-top:1px solid #0066cc;
	border-right:1px solid #0066cc;
	border-left:1px solid #0066cc;
 }
.barRound1Game1Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:55px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game1Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:80px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game2Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:120px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game2Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:145px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game3Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:185px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game3Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:210px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game4Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:250px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game4Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:275px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game5Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:315px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game5Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:340px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game6Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:380px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game6Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:405px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game7Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:445px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game7Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:470px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game8Team1{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:510px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound1Game8Team2{
  position:absolute;
  background-color:#0000ff;
  left:15px;
  top:535px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound2Game1Team1{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:66px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound2Game1Team2{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:132px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound2Game2Team1{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:196px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound2Game2Team2{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:262px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound2Game3Team1{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:326px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound2Game3Team2{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:392px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound2Game4Team1{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:456px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound2Game4Team2{
  position:absolute;
  background-color:#0000ff;
  left:154px;
  top:522px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound3Game1Team1{
  position:absolute;
  background-color:#0000ff;
  left:294;
  top:98px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound3Game1Team2{
  position:absolute;
  background-color:#0000ff;
  left:294;
  top:228px;
  width:140px;
  font-size:0px;
  height:1px;
}

.barRound3Game2Team1{
  position:absolute;
  background-color:#0000ff;
  left:294;
  top:358px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound3Game2Team2{
  position:absolute;
  background-color:#0000ff;
  left:294;
  top:488px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound4Game1Team1{
  position:absolute;
  background-color:#0000ff;
  left:434px;
  top:158px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound4Game1Team2{
  position:absolute;
  background-color:#0000ff;
  left:434px;
  top:420px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barFinalFour{
  position:absolute;
  background-color:#0000ff;
  left:574px;
  top:290px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barRound1Game1{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:55px;
	width:2px;
	height:26px;
}
.barRound1Game2{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:120px;
	width:2px;
	height:26px;
}
.barRound1Game3{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:185px;
	width:2px;
	height:26px;
}
.barRound1Game4{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:250px;
	width:2px;
	height:26px;
}
.barRound1Game5{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:315px;
	width:2px;
	height:26px;
}
.barRound1Game6{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:380px;
	width:2px;
	height:26px;
}
.barRound1Game7{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:445px;
	width:2px;
	height:26px;
}
.barRound1Game8{
	position:absolute;
	background-color:#0000ff;
	left:154px;
	top:510px;
	width:2px;
	height:26px;
}
.barRound2Game1{
	position:absolute;
	background-color:#0000ff;
	left:294px;
	top:66px;
	width:2px;
	height:68px;
}
.barRound2Game2{
	position:absolute;
	background-color:#0000ff;
	left:294;
	top:196px;
	width:2px;
	height:68px;
}
.barRound2Game3{
	position:absolute;
	background-color:#0000ff;
	left:294;
	top:326px;
	width:2px;
	height:68px;
}
.barRound2Game4{
	position:absolute;
	background-color:#0000ff;
	left:294;
	top:456px;
	width:2px;
	height:68px;
}
.barRound3Game1{
	position:absolute;
	background-color:#0000ff;
	left:434px;
	top:98px;
	width:2px;
	height:132px;
}
.barRound3Game2{
	position:absolute;
	background-color:#0000ff;
	left:434px;
	top:358px;
	width:2px;
	height:132px;
}
.barRound4{
	position:absolute;
	background-color:#0000ff;
	left:574px;
	top:158px;
	width:2px;
	height:264px;
}
.round1Game1Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:40px;
  left:35px;
}
.round1Game1Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:65px;
  left:35px;
}
.round1Game2Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:105px;
  left:35px;
}
.round1Game2Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:130px;
  left:35px;
}
.round1Game3Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:170px;
  left:35px;
}
.round1Game3Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:195px;
  left:35px;
}
.round1Game4Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:235px;
  left:35px;
}
.round1Game4Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:260px;
  left:35px;
}

.round1Game5Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:300px;
  left:35px;
}
.round1Game5Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:325px;
  left:35px;
}
.round1Game6Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:365px;
  left:35px;
}
.round1Game6Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:390px;
  left:35px;
}
.round1Game7Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:430px;
  left:35px;
}
.round1Game7Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:455px;
  left:35px;
}
.round1Game8Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:495px;
  left:35px;
}
.round1Game8Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:520px;
  left:35px;
}
.round2Game1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:50px;
}
.round2Game2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:116px;
}
.round2Game3{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:180px;
}
.round2Game4{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:246px;
}
.round2Game5{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:310px;
}
.round2Game6{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:376px;
}
.round2Game7{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:440px;
}
.round2Game8{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:165px;
  top:506px;
}
.round3Game1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:305px;
  top:82px;
}
.round3Game2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:305px;
  top:212px;
}
.round3Game3{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:305px;
  top:342px;
}
.round3Game4{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:305px;
  top:472px;
}
.elite8Game1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:444px;
  top:142px;
}
.elite8Game2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:444px;
  top:404px;
}
.finalFour{	
  font-size: 12px;
  font-family: arial, verdana;
  font-weight:bold;
  color: #000000;
  visibility:hidden;
  position:absolute;
  left:584px;
  top:274px;
}
.semisGame1Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:83px;
  left:35px;

}

.semisGame1Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:213px;
  left:35px;
}
.semisGame2Team1{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:343px;
  left:35px;
}

.semisGame2Team2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:473px;
  left:35px;
}
.finalsTeam1{
  font-size: 12px;
  font-family: arial, verdana;
  position:absolute;
  width: 140px;
  top:143px;
  left:170px;
  color: #000000;

}
.finalsTeam2{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  position:absolute;
  width: 140px;
  top:405px;
  left:170px;
}
.champion{
  font-size: 14px;
  font-family: arial, verdana;
  color: #000000;
  font-weight:bold;
  position:absolute;
  width: 260px;
  top:273px;
  left:310px;
}
.barSemisTeam1{
  position:absolute;
  background-color:#0000ff;
  left:20;
  top:98px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barSemisTeam2{
  position:absolute;
  background-color:#0000ff;
  left:20;
  top:228px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barSemisTeam3{
  position:absolute;
  background-color:#0000ff;
  left:20;
  top:358px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barSemisTeam4{
  position:absolute;
  background-color:#0000ff;
  left:20;
  top:488px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barFinalsTeam1{
  position:absolute;
  background-color:#0000ff;
  left:164px;
  top:158px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barFinalsTeam2{
  position:absolute;
  background-color:#0000ff;
  left:164px;
  top:420px;
  width:140px;
  font-size:0px;
  height:1px;
}
.barChampion{
  position:absolute;
  background-color:#0000ff;
  left:304px;
  top:290px;
  width:260px;
  font-size:0px;
  height:1px;
}
.barSemisGame1{
	position:absolute;
	background-color:#0000ff;
	left:160px;
	top:98px;
	width:2px;
	height:132px;
}
.barSemisGame2{
	position:absolute;
	background-color:#0000ff;
	left:160px;
	top:358px;
	width:2px;
	height:132px;
}
.barFinals{
	position:absolute;
	background-color:#0000ff;
	left:302px;
	top:158px;
	width:2px;
	height:264px;
}
.formClass{
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px; 
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
.seed1{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:40px;
  width:15px;
}

.seed16{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:65px;
  width:15px;
}
.seed8{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:105px;
  width:15px;
}

.seed9{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:130px;
  width:15px;
}
.seed5{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:170px;
  width:15px;
}

.seed12{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:195px;
  width:15px;
}
.seed4{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:235px;
  width:15px;
}

.seed13{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:260px;
  width:15px;
}
.seed6{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:300px;
  width:15px;
}

.seed11{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:325px;
  width:15px;
}
.seed3{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:365px;
  width:15px;
}

.seed14{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:390px;
  width:15px;
}
.seed7{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:430px;
  width:15px;
}

.seed10{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:455px;
  width:15px;
}
.seed2{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:495px;
  width:15px;
}

.seed15{
  font-size: 11px;
  text-align:right;
  position:absolute;
  left:15px;
  top:520px;
  width:15px;
}
.scrollcomments{
 	font-size:12px; 
 	position:absolute;
  	left:5px;
  	top:560px; 
  	margin-left: 0px;
  	padding-left:0px;
  	text-align:left;
}
.commentForm{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  font-weight:bold;
  position:absolute;
  width: 320px;
  top:398px;
  left:360px;
  border: 1px solid #cccccc;
  padding: 6px;
  background-color: #f0f0f0;
}
.commentFormLabel{
	font: bold italic 1.75em/.95em "Times New Roman", "MS Serif", "New York", serif;
	margin: 0;
	padding: 2px;
	border-top: solid #e7ce00 medium;
	border-bottom: dotted #e7ce00 thin;
	width: 335px;
	color: #666633;
	top: 364px;
	left:360px;
	position:absolute;
  	background-color: #f0f0f0;
}
.errorLabel{
  font-size: 12px;
  font-family: arial, verdana;
  color: #ff0000;
  font-weight:bold;
  position:absolute;
  width: 160px;
  top:380px;
  left:570px;
}
.commentField{
  font-size: 12px;
  font-family: arial, verdana;
  color: #000000;
  font-weight:bold;	
}
